[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2 = "==2.9.1"
pydantic = "*"
sqlalchemy = "*"
starlette = "*"
alembic = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
black = "*"
factory-boy = "*"
pytest = "*"

[requires]
python_version = "3"
